$lightGreen : #18B0B0;
$darkGreen : #116979;
$grey : #DEE3E2;
$orange : #DE7119;
$white : #EEEEEE;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  transition: .3s ease;
}
a{
  text-decoration: none;
  color: white;
}
::-webkit-scrollbar{
  display: none;
}
header{
  z-index: 9;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: $orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
  .imgLogo{
    height: 100%;
    display: flex;
    align-items: center;
    img{
      height: 80%;
    }
  }
  nav{
    display: flex;
    font-weight: 600;
    font-size: 1.2rem;
    height: 100%;
    a{
      height: 100%;
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover{
        background-color: $grey;
        color: $darkGreen;
      }
    }
  }
  .hamburger{
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    display: none;
    flex-direction: column;
    width: 45px;
    height: 44px;
    justify-content: space-around;
    span{
      background-color: white;
      border-radius: 20px;
      height: 6px;
      transition: .4s  cubic-bezier(0.78, -0.7, 0.3, 1.4);
      &:nth-child(1){
        width: 50%;
      }
      &:nth-child(2){
        width: 100%;
      }
      &:nth-child(3){
        width: 75%;
      }
    }
  }
  .transformButton{
    // background-color: red;
    span:nth-child(1){
        transform-origin:bottom;
        transform:rotatez(45deg) translate(6px,0px)
    }
    span:nth-child(2){
        transform-origin:top;
  transform:rotatez(-45deg)
    }
    span:nth-child(3){
        transform-origin:bottom;
  width:50%;
  transform: translate(20px,-9px) rotatez(45deg);
    }
  }
}

// GLOBAL (WILL BE USED IN DIFFERENT CLASSES)
.subHeading{
  font-size: 1.8rem;
  color: $darkGreen;
  display: block;
  span{
    background-color: #DE7119;
    padding: 0 0.3em;
  }
}
.starsArea{
margin-top: 8px;
display: flex;
align-items: center;
gap: 8px;
.stars{
  display: flex;
  align-items: center;
  gap: -7px;
  .star{
  font-size: 2rem;
    color: $orange;
  }
}
.rating{
  font-size: 1.2rem;
  color: $orange;
  font-weight: 700;
  margin-top: 5px;
}
}
.skip-link{
  position: absolute;
  padding: 10px 20px;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: $grey;
  color: green;
  z-index: 99;
  transition: .3s ease;
  font-weight: 600;
}
.skip-link:focus{
  transition: .3s ease;
  top: 0px;
}

#main{
  // background-color: $grey;
    min-height: 93vh;
    width: 100%;
    padding-top: 80px;
  }
.jumbotronContainer{
  margin-top: -80px;
  z-index: -10;
  width: 100%;
  height: 88vh;
  .container{
    color: white;
    background: url('../public/heros/hero-image_4.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;

    .textContent{
      position: fixed;
      top: 40%;
      right: 8%;
      text-align: end;
      h1{
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.314);
        font-size: 6rem;
        font-style: italic;
        &:first-letter{
          color: #116979;
          font-size: 9rem;
          text-shadow: 2px 2px 10px rgba(243, 243, 243, 0.579);
        }
      }
      h2{
        font-weight: 400;
        font-size: 2.3rem;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.458);
      }
    }
  }
}
.restaurantCatalog{
  padding: 0 10em;
  padding-top: 2em;
  padding-bottom: 5em;
  width: 100%;
  height: auto;
  background-color: $grey;

  .subHeadingContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    form{
      border: 3px solid $orange;
      display: flex;
      width: 250px;
      height: 50px;
      input{
        height: 100%;
        width: 80%;
        outline: none;
        border: none;
        color: $darkGreen;
        background-color: transparent;
        font-weight: 500;
        &::placeholder{
          color: $darkGreen;
          opacity: 0.6;
        }
      }
      iconify-icon{
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
        color: $darkGreen;
      }
    }
  }
}
// restaurantList
restaurant-list{
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin-top: 3em;
  width: 100%;
  height: auto;
  gap: 10px;
  row-gap: 50px;
  flex-wrap: wrap;
  .notFound{
    color: $lightGreen;
    font-weight: 500;
    font-style: italic;
  }
  restaurant-item{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: $white;
    overflow: hidden;
    width: 260px;
    height: 420px;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.15);
    .imgArea{
      position: relative;
      width: 100%;
      height: 45%;
      background-color: rgba(0, 0, 0, 0.34);
      overflow: hidden;
      img{
        height: 100%;
      }
      .restaurantLoc{
        font-size: 1rem;
        width: auto;
        top: 10%;
        padding: 5px 20px;
        position: absolute;
        background-color: 	rgba(245,245,245,0.8);
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        color: $darkGreen;
        font-weight: 700;
      }
    }
    .descriptionArea{
      height: 55%;
      padding: 1em;
      display: flex;
      flex-direction: column;
      .restaurantName{
        text-align: center;
        background-color: $lightGreen;
        color: white;
        padding: 0.3em 1em;
        margin: 0 auto;
        font-size: 1.3rem;
        margin-top: -35px;
        z-index: 1;
        border-radius: 10px;
        width: auto;
      }
      }
      .description{
        flex-grow: 0;
        margin-top: 5px;
        font-size: 1rem;
        max-height: 50%;
        font-weight: 400;
        text-align: justify;
        color: $lightGreen;
        overflow: auto;
      }
      .detailsButton{
        cursor: pointer;
        flex: 1 0 44px;
        margin-top: 10px;
        outline: none;
        border: 3px solid $darkGreen;
        border-radius: 10px;
        font-size: 0.9rem;
        font-weight: 700;
        color: $darkGreen;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        &:hover{
          background-color: $darkGreen;
          color: white;
        }
      }
  }
  }
footer{
  width: 100%;
  height: 60px;
  background-color: $orange;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
}
// DETAIL
#detailContent {
  width: 100%;
  padding: 0 10em;
  padding-top: 4em;
  overflow: hidden;
  padding-bottom: 80px;
  .detailHead{
    display: flex;
    .img{
      width : 40%;
      height: fit-content;
      img{
        border-radius: 20px;
        width: 100%;
      }
      .detailButtonArea{
        margin-top: 20px;
        width: 100%;
        height: 40px;
        display: flex;
        gap: 5px;
        font-size: 0.9rem;
        a,.likeOrLikedButton .addToFavorite{
          outline: none;
          background-color: transparent;
          border: 3px solid $darkGreen;
          cursor: pointer;
          font-weight: 600;
          color: $darkGreen;
          &:hover{
            background-color: $darkGreen;
            color: white;
          }
        }
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50%;
          border-top-left-radius: 30px;
          border-bottom-left-radius: 30px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          font-size: inherit;
          color: $darkGreen
        }
        .likeOrLikedButton{
          width: 50%;
          .addToFavorite{
            height: 100%;
            width: 100%;
            font-size: inherit;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
          .removeFromFavorite{
            width: 100%;
            height: 100%;
            outline: none;
            background-color: $darkGreen;
            border: none;
            cursor: pointer;
            font-weight: 600;
            color: $darkGreen;
            color: white;
            &:hover{
              background-color: $lightGreen;
              color: white;
            }
            font-size: inherit;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
        }
      }
    }
    .details{
      padding-left: 30px;
      flex: 1 1 70%;
      overflow:auto;
      .restaurantName {
        display: inline;
        color: $darkGreen;
        text-shadow: 0px 1px rgba(110, 108, 108, 0.525);
        width: 100px;
        font-size: 2rem;
      }
      .starsArea{
        margin: 5px 0;
      }
      h3{
        font-size: 1.2rem;
        font-weight: 500;
      }
      .restaurantLocation{
        font-weight: 700;
        color: $lightGreen;
      }
      .restaurantDesc{
        color: $darkGreen;
        margin-top: 10px;
        text-align: justify;
      }
    }
  }
  .menuAndReviewContainer{
    gap: 70px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  .menu{
    display: flex;
    justify-content: center;
    gap: 4em;
    h3{
      color: $darkGreen;
      margin-bottom: 15px;
      font-size: 1.5rem;
      text-align: center;
    }
    ul{
      padding-left: 15px;          
      margin-top: 5px;
      li{
        font-size: 1.2rem;
        color: $darkGreen;
        font-weight: 500;
        list-style-position: inside;
      }
    }
  }
  .reviewContainer{
    flex: 1 1 50%;
    h2{
      font-size: 1.5rem;
      text-align: center;
      color: $darkGreen;
    }
    review-list{
      margin-top: 20px;
      width: 100%;
      height: 400px;
      padding: 0 0.3em;
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow: scroll;
      review-item{
        padding: 1em 1em;
        width: 100%;
        border: 3px solid $orange;
        border-radius: 5px;
        .reviewHead{
          font-size: 1rem;
          font-weight: 500;
          color: $lightGreen;
          span{
            font-weight: 300;
            color: black;
            font-size: .9rem;
          }
        }
        .reviewText{
          font-size: 1rem;
          margin-top: 5px;
          font-weight: 500;
        }
      }
      form{
        display: flex; 
        justify-content: space-between;
        gap: 20px;
        .inputArea{
          display: flex;
          flex-direction: column;
          flex: 1;
          gap: 10px;
          input{
            border: 2px solid $darkGreen;
            padding: 10px 20px;
            border-radius: 5px;
            height: 40px;
            padding-left: 1em;
            color: $darkGreen;
            font-weight: 600;
            
            &::placeholder{
              color: $darkGreen;
              font-weight: 400;
            }
          }
          #reviewText{
            height: 50px;
          }
        }
        button{
          cursor: pointer;
          outline: none;
          background-color: $darkGreen;
          color: white;
          font-weight: 600;
          border: none;
          width: 100px;
          height: 40px;
          border-radius: 5px;
        }
      }
    }
  }
}
.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;

  iconify-icon{
    font-size: 2.5rem;
    color: $orange;
  }
}

// Favorites
#favorites{
  background-color: $grey;
  padding: 3em 10em;
  width: 100%;
  min-height: 100vh;
  .subHeading{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 2.1rem;
  }
}
// notFound
.notFoundContainer{
  // background-color: red;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  margin-top: 8em;
  
  h2{
    font-size: 16rem;
    font-weight: 800;
    color: $darkGreen;
    text-shadow: 2px 2px 5px black;
  }
  h4{
    font-size: 2rem;
    color: $orange;
  }
}

// OVERLAY
.overlay{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.278);
}

// LOADER
.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}


@keyframes showNavigation {
  0%{
    display: flex;
  }
  100%{
    transform: translateY(80px);
  }
}


